{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodos</title>
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    {% tailwind_css %}
  </head>
  <body>
    <!-- Navbar -->
    {% include 'nodos/components/navbar.html' %}
    
    <div class="mt-4"></div>
    
    {% block content %}{% endblock content %}
    
    
    <!-- Scripts -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/hyperscript.min.js' %}"></script>
    <script src="{% static 'js/alpinejs.min.js' %}"></script> 
    <script src="{% static 'js/sweetalert2.min.js' %}"></script> 
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>  
  </body>
  </html>