{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
  </head>
  <body>
    {% include 'nodos/components/navbar.html' %}
    <div class="mt-4"></div>
    {% block content %}{% endblock content %}
    
    
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/hyperscript.min.js' %}"></script>
    <script src="{% static 'js/alpinejs.min.js' %}"></script>
    <!--<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>-->
    
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
  </body>
  </html>