{% for note in notes %}
<div class="card w-96 bg-base-100 shadow-xl m-3 border-solid border-2 border-transparent hover:border-2 hover:border-indigo-600 border-gray-200 dark:border-gray-700 duration-300">
    <div class="card-body p-3">
      {% comment %} <p>{{ note.description }}</p> {% endcomment %}
      <div class="text-right"><button><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:h-7 hover:w-7 duration-100 overflow-hidden hover:text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg></button></div>
      <h2 class="card-title">{{ note.title }}</h2>
    </div>
    <button hx-post="notes/delete/{{ note.id }}" hx-target="#notes-list" type="submit" class="btn bg-transparent border-none hover:bg-transparent text-transparent no-animation">Delete</button>
</div>
{% endfor %}