{% for note in notes %}
    <label for="modal-open-card-{{ note.id }}" id="card-{{ note.id }}" class="group modal-button cursor-pointer card w-96 bg-base-100 shadow-xl m-3 border-solid border-2 border-transparent hover:border-2 hover:border-primary border-gray-200 dark:border-gray-700 duration-300">
        <div class="card-body p-3">
            <div class="card-actions justify-between">
                <input hx-post="/notes/done/{{ note.id }}" hx-target="#card-{{ note.id }}" hx-swap="outerHTML" type="checkbox" _="init if '{{ note.done }}' is 'True' set me.checked to true then if me.checked is true add .border-green-300 to #card-{{ note.id }} then if me.checked is true remove .dark:border-gray-700 from #card-{{ note.id }} then if me.checked is true remove .hover:border-primary from #card-{{ note.id }} then if me.checked is true add .hover:border-green-500 to #card-{{ note.id }}" class=".checkbox checkbox dark:bg-gray-700" />
                <div class="text-right text-transparent group-hover:text-current"><button hx-post="notes/delete/{{ note.id }}" hx-target="#card-{{ note.id }}" hx-swap="outerHTML" hx-trigger='confirmed' _="on click call Swal.fire({title: 'Confirm', text:'Do you really want to delete the Note?', icon: 'warning'}) if result.isConfirmed trigger confirmed" type="submit" class="h-6 w-6  duration-300 text-clip hover:text-error"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button></div>
            </div>
            <h2 class="card-title m-3">{{ note.title }}</h2>
            <div class="card-actions justify-start">
                <span class="badge badge-ghost">Created: {{ note.created }}</span>
            </div>
        </div>
    </label>

    <input type="checkbox" id="modal-open-card-{{ note.id }}" class="modal-toggle" />
    <label for="modal-open-card-{{ note.id }}" class="modal cursor-pointer modal-bottom sm:modal-middle backdrop-blur-md">
        <label class="modal-box relative" for="">
            <h3 class="font-bold text-lg">{{ note.title }}</h3>
            <p class="py-4">{{ note.description }}</p>
        </label>
    </label> 
{% endfor %}